# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos (PostgreSQL)
# En Railway, esta variable se inyecta automáticamente al conectar el Addon de PostgreSQL.
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/consvivisa_db?schema=public"

# Seguridad y Autenticación
JWT_SECRET="reemplazar_con_un_secreto_seguro_en_produccion"
JWT_EXPIRATION="24h"

# Configuración fiscal
IVA_RATE=0.15
